apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: k3s-spring-hpa
  namespace: k3s
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: k3s-spring
  minReplicas: 0
  maxReplicas: 4
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 30
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80